*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header{
    padding: 90px 190px 100px 220px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

img{
    width: 100%;
    object-fit: contain;
}

p{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.carg{
    font-family: "PT Serif";
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}


.titulo{
    font-family: "Pt serif";
    size: 36px;
}
.titulo2{
    font-family: "Poppins";
    size: 18px;
    padding-left: 45px;
}
.info{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    padding: 8px 200px 0 50px;
    align-items: justify;
}

.contenedor{
    display: grid;
    grid-template-columns:1fr repeat(6, 1fr) 1fr;
}
.perfil1{
    grid-column: 2;
    width: 264px;
    height: 383px;

}

.cargo1{
    grid-column: 3;
    writing-mode: vertical-lr;
}

.perfil2{
    grid-column: 4;
    width: 238px;
    height: 347px;
    margin-top: 129px;
    left: 571px;
}

.cargo2{
    grid-column: 5;
    writing-mode: vertical-lr;
    margin-top: 129px;
}

.perfil3{
    grid-column: 6;
    width: 238px;
    height: 341px;
    top: 330px;
    left: 901px;

}

.cargo3{
    grid-column: 7;
    writing-mode: vertical-lr;
}

.perfil4{
    grid-column: 2;
    grid-row: 2;
}

.cargo4{
    grid-column: 3;
    writing-mode: vertical-lr;
}

.perfil5{
    grid-column: 4;
    grid-row: 2;
    margin-top: 129px;
}

.cargo5{
    grid-column: 5;
    writing-mode: vertical-lr;
    margin-top: 129px;
}


.perfil6{
    grid-column: 6;
    grid-row: 2;
}

.cargo6{
    grid-column: 7;
    writing-mode: vertical-lr;
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: #A9A9A9;
    ;
}