*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header{
    padding: 90px 200px 100px 320px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

img{
    width: 100%;
    object-fit: contain;
}

p{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.carg{
    font-family: "PT Serif";
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
}


.titulo{
    font-family: "Pt serif";
    size: 36px;
    padding-left: 40px;
}
.titulo2{
    font-family: "Poppins";
    size: 18px;
    padding-left: 45px;
}
.info{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    padding: 8px 400px 100px 50px;
    align-items: justify;
}

.contenedor{
    display: grid;
    grid-template-columns:1fr repeat(6, 1fr) 1fr;
}

.perfil1{
    grid-column: 2;
    width: 264px;
    height: 383px;

}

.cargo1{
    grid-column: 3;
    writing-mode: vertical-lr;
}

.perfil2{
    grid-column: 4;
    height: 347px;
    margin-top: 129px;
}

.cargo2{
    grid-column: 5;
    writing-mode: vertical-lr;
    margin-top: 129px;
}

.perfil3{
    grid-column: 6;
    height: 341px;
    top: 330px;
}

.cargo3{
    grid-column: 7;
    writing-mode: vertical-lr;
}

.perfil4{
    grid-column: 2;
    grid-row: 2;
}

.cargo4{
    grid-column: 3;
    writing-mode: vertical-lr;
}

.perfil5{
    grid-column: 4;
    grid-row: 2;
    margin-top: 129px;
}

.cargo5{
    grid-column: 5;
    writing-mode: vertical-lr;
    margin-top: 129px;
}


.perfil6{
    grid-column: 6;
    grid-row: 2;
}

.cargo6{
    grid-column: 7;
    writing-mode: vertical-lr;
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: #A9A9A9;
    ;
}

@media screen and (max-width: 780px) {
    header{
        display: grid;
        grid-template-rows: 15% 15%;
        grid-template-columns: 100%;
        padding: 0;
    }
    img{
        width: 154px;
        height: 247px;
        top: 619px;
        left: 19px;
    }
    .titulo{
        padding-left: 1px;
        width: 278px;
        height: 47px;
        margin-top: 71px;
        margin-left: 12px;
    }
    h1{
        font-family: "PT Serif";
        font-size: 39px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.045em;
        text-align: left;
    }
    .titulo2{
        padding-left: 1px;
        margin-top: 100px;
        margin-left: 12px;
    }
    .info{
        padding: 14px 10px 1px 12px;
    }
    .contenedor{
        display: grid;
        grid-template-columns:157px 20px 157px 20px;
        grid-template-rows: 400px 400px 400px;
        margin-left: 20px;
    }
    .carg{
        margin-left: 1px;
    }
    .perfil1{
        grid-column: 1;
    }
    .cargo1{
        margin-top: 12px;
        grid-column: 2;
        writing-mode: vertical-lr;
    }
    
    .perfil2{
        margin-top: 70px;
        margin-left: 20px;
        grid-column: 3;
    }
    .cargo2{
        margin-top: 80px;
        margin-left: 20px;
        grid-column:4;
        writing-mode: vertical-lr;
    }
    .perfil3{
        grid-column: 1;
        grid-row: 2;
        width: 264px;
        height: 383px;
    }
    .cargo3{
        grid-column:2;
        grid-row:2;
        writing-mode: vertical-lr;
        margin-top: 10px;
    }
    .perfil4{
        grid-column: 3;
        grid-row: 2;
        margin-left: 20px;
        margin-top: 60px;

    }
    .cargo4{
        grid-column:5;
        grid-row: 2;
        writing-mode: vertical-lr;
        margin-top: 70px;
    }
    .perfil5{
        margin-top: 1px;
        grid-column: 1;
        grid-row: 3;
    }
    .cargo5{
        grid-column:2;
        grid-row: 3;
        writing-mode: vertical-lr;
        margin-top: 10px;
    }
    .perfil6{
        margin-top: 70px;
        margin-left: 20px;
        grid-column: 3;
        grid-row: 3;
    }
    .cargo6{
        grid-column:5;
        grid-row: 3;
        writing-mode: vertical-lr;
        margin-top: 82px;
    }
    footer{
        margin-bottom: 70px;
        left: 46px;
    }

}
